.App {
  height: 50%;
  text-align: center;
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

.myCard {
  height: 50%;
  text-align: center;
  margin: auto;
  width: 50%;
  border: 3px solid rgb(11, 11, 11);
  padding: 10px;
}
