.App {
  /* text-align: center; */
  margin: auto;
  /* width: 50%; */
  border: 1px solid black;
  padding: 10px;
}

.myCard {
  margin: auto;
  border: 1px solid rgb(11, 11, 11);
  padding: 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.myCard2 {
  margin-bottom: 12px;
  border: 1px solid rgb(11, 11, 11);
  border-radius: 15px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: rgb(236, 236, 236);
}

.btns-group {
  display: flex;
  gap: 0.5rem;
  padding: 12px 0;
  justify-content: flex-end;
}

.open-btn {
  display: flex;
  justify-content: flex-end;
  padding: 12px 0;
}

.admin {
  padding: 0 12px;
}

.addTeamBtn {
  position: absolute;
  right: 10%;
}

.Team-btns-group {
  display: flex;
  gap: 0.5rem;
  padding: 12px;
  justify-content: flex-end;
}

.criteria-form {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
